@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);
/*

This is a comment 

*/


/* 

CSS Syntax

Selector {
  
  property: value;
  property: value;
}

*/

/* Type selector */

/* all paragraphs */

p {
  
  font-size: 1em; /* 16px, ?pt, 100%, 1em */
  line-height: 1.5em;
}

figcaption {
  /* font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; */
  font: normal 0.75em/1.5em'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right

}

.milk-text { /* select elements with the class = "milk text" */
font: bold 2.6em'Elsie Swash Caps', cursive;
color: white;
text-shadow: 0 2px 3px #000
}

#logo { /* select elements with the ID="logo" */
  background: aqua;
}

#logo h1{  /* selects only h1's if they are inside the element with ID = "logo" */
font-family:  'Clicker Script', cursive

}

#logo h2{  /* selects only h2's if they are inside the element with ID = "logo" */
font-family:  'Elsie Swash Caps', cursive

}

/* Psuedo Selector */

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active { 
  color: red;
 }