@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);
/* CSS Syntax:;

selector {
  property: value;
  property: value;

}
*/

/* Type Selector */
p { /*select all <p> */
  font-size: 1em; /* 16px, 7pt, 100%, 1 em */
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: 'Elsie Swash Caps', cursive;
 /* font: normal 0.75em/1.5em Georgia, "New Times Roman", serif; */
  color: #777;
  text-align: right;
}

/* Class selector (applied to as many elemnts as you like) */
.milk-text { /*select elements with class="milk-tedt" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0.2px 3px #000;
}

/* ID selector (apply to one unique element per page) */
#logo {
  background-color: aqua;
}

/* Descendent Selector */
#logo h1 { /*selects <h1> if inside the id="logo" */
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elsie swash Caps', cursive;
}

/* Psuedo Seclector */
#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}